<ng-form name="forms.itemForms.item_{{$index}}">
    <div class="panel panel-default">
	  <div class="panel-heading">
		  How relevant is this image to <code>{{taskset.facet.meta.query}}</code>?
	  </div>
	  
      	<div class="panel-body">
		<div class="error-display" ng-show="(design !== 'fast' && forms.turkForm.$submitted) || (design === 'fast' && (forms.itemForms.item_{{$index}}.$dirty && (forms.turkForm.check) || forms.itemForms.item_{{$index}}.$valid))">
				<alert type='danger' ng-show="forms.itemForms.item_{{$index}}.$error.required">Need to make a selection.</alert>
			</div>
		
			<div class="col-md-12">
				<img class="img-responsive" ng-src="{{item.meta.image['236']}}" ng-alt="{{item.meta.title}}"
				tooltip-html="tooltip(item)" tooltip-placement="bottom" />
			</div>

	<div class="form-group col-md-12">
	<div class="radio" ng-repeat="v in judgeOptions"><label>
	<input type="radio" ng-model="item.contribution.relevance" value="{{v}}" 
	  focus-me="{{design === 'fast' && phase === 'tasks'}}"
        ng-focus="timeStart(item)" ng-blur="timeStop(item)" ng-keypress = "pressEnter($event)"
	ng-disabled = "(condition === 'training' && item.checked) || (design === 'fast' && phase !== 'tasks')" ng-list required>
	{{v}}
	</label></div>
	<button class="btn btn-default" ng-show="design === 'fast' && forms.itemForms.item_{{$index}}.$valid" ng-click="pushStagedTask()">Next</button>
	<alert type='info' ng-show="design === 'fast' && forms.itemForms.item_{{$index}}.$valid">Great! Hit Enter or press Next button to continue when you're ready!</alert>
	</div>
		</div>
		<div ng-show="training" class="panel-footer">
		<relevance-training ng-show="training"></relevance-training>
		</div>
		<div ng-show="design === 'fast'" class="tag-display panel-footer" >
			<div ng-style="strikethrough(preview)">
				<p>{{time.left}} seconds left. {{taskset.payment + taskset.bonus | currency : $}} earned<span ng-show="{{completedItems() < 2}}"> (after minimum two items tagged)</span>.</p>
				<p>This item's bonus: {{nextItemBonus | currency : $}}.</p>
			</div>
			<p style="font-weight:bold" ng-show='preview'> Previewing Task</p>
		</div>
      </div>
    </div>
</ng-form>
