<section>
	<h2>{{instructions.title}} <span ng-if="preview">[PREVIEW]</span></h2>
     <!-- WRAP THE REST OF TASK IN FORM -->

<ul class="nav nav-tabs">
  <li role="presentation" ng-class="{active:tab === 'instruct'}"><a href ng-click="setTab('instruct')">Instructions</a></li>
  <li role="presentation" ng-class="{active:tab === 'info'}"><a href ng-click="setTab('info')">Study Info</a></li>
  <li role="presentation" ng-class="{active:tab === 'tips'}"><a href ng-click="setTab('tips')">Tips</a></li>
  <li role="presentation" ng-show='performanceFeedback' ng-class="{active:tab === 'performance'}">
	  <a href ng-click="setTab('performance')">Performance Feedback</a></li>
  <li role="presentation" ng-class="{active:tab === 'collapse'}"><a href ng-click="setTab('collapse')">Collapse Instructions</a></li>
</ul>

<div class="row">
	<!-- Main Instructions -->
	<div ng-if="tab==='instruct'" ng-class="{'col-sm-12': !preview && design!=='feedback', 'col-sm-7': preview || design === 'feedback' }">
		<p>Below are possible image search results for the search "<strong>{{instructions.meta.query}}</strong>".</p>
		<p>Tell us if each image is relevant (a good search result), somewhat relevant (an okay, but not perfect, result), or not relevant (a terrible search result).</p>
		<p ng-show="design==='fast'">This task is timed: <em>tell us about as many items as you can in {{time.limit}} seconds.</em> We'll give you bonuses for each extra image after the second.</p>
		<ul>
		<li ng-show="instructions.meta.good" class="text-success"><em>Very relevant</em> results show {{instructions.meta.good}}.</li>
		<li ng-show="instructions.meta.ok" class="text-warning"><em>Somewhat relevant</em> results include {{instructions.meta.ok}}.</li>
		<li ng-show="instructions.meta.poor" class="text-danger"><em>Non-relevant</em> can be any number of images that don't fit the search, including: {{instructions.meta.poor}}.</li>
		</ul>

		<p><strong>Time Estimate: {{time.estimate | secondsToDateTime | date:'mm:ss'}}</strong></p>
	</div>


	<!-- Consent Language Short -->
	<div class="col-sm-5 short-irb" ng-show="preview && tab==='instruct'">
		<p>You are invited to participate in this research study. Your decision to participate or decline participation in this study is completely voluntary and you have the right to terminate your participation at any time.</p>
		<p>Your participation is be confidential and data will be averaged and reported in aggregate. The data from this study may be used in academic venues. We will make no efforts to identify you.</p>
		<p>This study is conducted by <a tooltip="Phone:617-383-7674, Email:organis2@illinois.edu" href="mailto:organis2@illinois.edu" alt="email">Peter Organisciak</a> and advised by 
		<a tooltip="Phone:217-265-0510, Email:twidale@illinois.edu" href="mailto:twidale@illinois.edu" alt="email">Michael Twidale</a> from the 
		University of Illinois. Please contact us with any questions about this study. If you have any questions about your rights as a participant in 
		this study or any concerns or complaints, please contact the University of Illinois 
		<a tooltip="Phone:217-333-2670, Email:irb@illinois.edu" href="mailto:irb@illinois.edu">Institutional Review Board</a>.</p>
		<p>Details are available in the <a ng-click="tab='info'">Study Info</a> tab.
    </div>


    <!-- Consent Language - Long -->
	<div ng-show="tab==='info'" class="col-sm-12 irb">
	<p>You are invited to participate in this research study on understanding task design in paid crowd settings. You will be asked to complete tasks related to online images. Your decision to participate or decline participation in this study is completely voluntary and you have the right to terminate your participation at any time.</p>
	<p>This study will take approximately {{time.estimate | secondsToDateTime | date:'mm:ss'}} of your time, and you will be paid for performing the tasks as noted in the details above. Your participation in this research will be confidential and data will be averaged and reported in aggregate. The data from this study may be used in academic venues, such as published papers and a student thesis. We will make no efforts to identify you. There are no risks to individuals participating in this study beyond those that exist in daily life, and the judgments you provide will help requesters on paid crowd platforms design better tasks in the future.</p>
	<p>This study is conducted by <a tooltip="Phone:617-383-7674, Email:organis2@illinois.edu" href="mailto:organis2@illinois.edu" alt="email">Peter Organisciak</a> 
	and advised by <a tooltip="Phone:217-265-0510, Email:twidale@illinois.edu" href="mailto:twidale@illinois.edu" alt="email">Michael Twidale</a>. from the 
	University of Illinois. Please contact Mr. Organisciak or Dr. Twidale with any questions about this study. If you have any questions about your rights 
	as a participant in this study or any concerns or complaints, please contact the University of Illinois 
	<a tooltip="Phone:217-333-2670, Email:irb@illinois.edu" href="irb@illinois.edu">Institutional Review Board</a>.</p>
	<p>You may print a copy of this online consent form for your records, if you wish. By accepting and subsequently submitting any tasks, you indicate that you have read and understand the above consent information, certify that you are 18 years old or older, and indicate your willingness to voluntarily take part in the study.</p>

    </div>

    <!-- Tips -->
	<div ng-show="tab==='tips'" class="col-sm-12">
		<ul>
		<li>Hovering over an image will show some information that people wrote about the image. This may or may not be useful.</li>
		<li>Read the instructions for help on telling the difference between 'very' and 'somewhat' relevant.</li>
		</ul>
	</div>

    <!-- Performance Feedback -->
     <div class="col-sm-12" ng-show="tab==='performance' && performanceFeedback">
     <performance-feedback></performance-feedback>
     </div>



</div>
</section>
