<tagging-instructions class="instructions" ng-controller="instructionsController"></tagging-instructions>
<br />

<form name="forms.turkForm" id="turkForm" method="POST" ng-submit="submitForm($event)" novalidate>
<div class="row itemgrid" masonry reload-on-show>
	<tag-item
	   class="masonry-brick" ng-class="{'masonry-brick':!training, 'col-md-4':!training, 'col-sm-6':!training, 'col-md-12':training, 'col-sm-12':training, 'col-xs-12':training}" ng-repeat="item in taskset.tasks" ng-controller='tagTaskItemController'></tag-item>
</div>

<!-- START FEEDBACK -->
<div class="row" ng-hide="preview">
    <feedback-form ng-controller='feedbackCtrl'></feedback-form> 
</div>
<!-- END FEEDBACK -->
<!-- START SUBMIT -->
<div class="row">
	<alert type='warning' ng-show="forms.turkForm.$submitted && !forms.turkForm.$valid"> Sorry but {{forms.turkForm.$error.pattern.length + forms.turkForm.$error.required.length}} errors exist above. Please fix and resubmit. </alert>
	
<alert type="warning" ng-show="forms.turkForm.$submitted && !allChecked">
	Don't forget to check all your answers!
	</alert>
	
	<alert type="info" ng-show="forms.turkForm.$valid && training && bonusStructure.laterTask > 0">Hey, now that you've practiced, do some real tasks! We won't give you the answers next time, but we're sure that you'll be quick!
If you do more tasks, we'll give you a <strong>{{bonusStructure.laterTask | currency : $}} bonus</strong> for each extra assignment.</alert>

	<alert type="info" ng-show="forms.turkForm.$valid && !training && bonusStructure.laterTask > 0">Hey, we like when you stick around. If you do more tasks, we'll give you a <strong>{{bonusStructure.laterTask | currency : $}} bonus</strong> for each extra assignment.</alert>





	<input type="hidden" name="assignmentId" id="myAssignmentId" value="{{assignmentId}}" />
 <input id="submitButton" type="submit" name="submit" 
 class="btn btn-primary" 
 ng-disabled="submitBlocked || (forms.turkForm.$submitted && !forms.turkForm.$valid || !!($root.error)) || preview" 
 ng-value="preview ? 'Previewing' : 'Submit'" />
</div>
<span ng-show="debug"><strong>DEBUG: data: </strong><pre>{{taskset | json: 4 }}</pre></span>
</div>
<!-- END SUBMIT-->
</form>


<!-- TURK SUBMISSION FORM, because ng-submit and action don't mix -->
<form name='forms.turkHiddenForm' method="POST" id='turkHiddenForm' action={{formSubmitTo}}>
<input type="hidden" name="assignmentId" id="myAssignmentId" value="{{assignmentId}}" />
<input type="hidden" name="test" value="{{ taskset | json }}" />
</form>

<div style="padding-top:100px;margin-top:100px;"></div>
