<ng-form name="forms.itemForms.item_{{$index}}">
    <div class="panel panel-default">
	  <div class="panel-heading">
		 Describe this image with 2 or more tags, separated by commas {{itemIndex}}
	  </div>
	  
      	<div class="panel-body">
			<div class="error-display" ng-show="(condition !== 'fast' && forms.turkForm.$submitted) || (condition === 'fast' && forms.itemForms.item_{{$index}}.$dirty && forms.turkForm.check)">
				<alert type='danger' ng-show="forms.itemForms.item_{{$index}}.$error.pattern">You need at least <strong>two</strong> tags. </alert>
				<alert type='danger' ng-show="forms.itemForms.item_{{$index}}.$error.required">Need to enter tags. </alert>
				<alert type='info' ng-show="condition === 'fast' && forms.itemForms.item_{{$index}}.$valid">Great! Hit enter to continue when you're done!</alert>
			</div>
		
			<div class="col-md-12">
				<img class="img-responsive" ng-src="{{item.meta.image['236']}}" ng-alt="{{item.meta.title}}"
				tooltip-html="tooltip(item)" tooltip-placement="bottom" />
			</div>

			<div class="form-group">
			  <input type="text" class="form-control"  ng-model-options="{ updateOn: 'default blur', debounce: {default: 300, blur: 0} }"
			  name="contrib" 
			  focus-me="{{condition === 'fast' && phase === 'tasks'}}"
			  ng-model="item.contribution.tags" ng-pattern="/^.+\, ?./" placeholder="Enter tags" 
			  ng-focus="timeStart(item)" ng-blur="timeStop(item)"
			  tooltip-html="'<div width=150>TIPS<br/>Hover over the image for possible ideas.<br/>If you cannot think of a second tag, add TOOHARD.</div>'"  tooltip-trigger="focus" tooltip-placement="right" tooltip-popup-delay="7000"
				ng-keypress = "pressEnter($event)"
				ng-disabled = "(condition === 'fast' && phase !== 'tasks')"
			  ng-list required>
			</div>
		</div>

		<div ng-show="condition !== 'fast'" class="tag-display panel-footer">
		Your tags: <span class="item-tag" ng-repeat="tag in item.contribution.tags track by $index">{{tag}}</span>
		</div>
		<div ng-show="condition === 'fast'" class="tag-display panel-footer">
		{{time.timeLeft}} seconds left. {{taskset.tasks.length - forms.turkForm.$error.pattern.length - forms.turkForm.$error.required.length}} tasks completed.
		</div>
      </div>
    </div>
</ng-form>
