<section>
	<h2>{{instructions.title}} <span ng-if="preview">[PREVIEW]</span></h2>
     <!-- WRAP THE REST OF TASK IN FORM -->

<ul class="nav nav-tabs">
  <li role="presentation" ng-class="{active:tab === 'instruct'}"><a href ng-click="setTab('instruct')">Instructions</a></li>
  <li role="presentation" ng-class="{active:tab === 'info'}"><a href ng-click="setTab('info')">Study Info</a></li>
  <li role="presentation" ng-class="{active:tab === 'tips'}"><a href ng-click="setTab('tips')">Tips</a></li>
  <li role="presentation" ng-class="{active:tab === 'collapse'}"><a href ng-click="setTab('collapse')">Collapse Instructions</a></li>
</ul>

<div class="row">
	<!-- Main Instructions -->
	<div ng-if="tab==='instruct'" ng-class="{'col-sm-12': !preview, 'col-sm-7': preview }">
		<p>Label each of the images below with at least two tags. A tag is a short word or phrase describing what is in the image.</p>
		<p ng-show="design==='fast'">This task is timed: <em>tag as many items (minimum 2) as you can in {{time.limit}} seconds.</em> We'll give you bonuses for each extra image after the second.</p>
		<p>The purpose of this task is to help people find these images. Thus, one way to think of good tags is to consider, <em>if somebody was searching for this word, would this be an image that they'd want to find?</em></p>
		<p><strong>Good</strong> and interesting tags describe <a tooltip="For example: 'running', 'playing hockey'">actions</a> and <a tooltip="For example: 'seagull', 'Ferrari'">objects</a> in the image. Tags can be multiple words, and should <a tooltip="i.e. a person shouldn't need to see your first tag to understand the second one fully.">stand alone</a>.</p>
		<p><strong>Bad</strong> tags don't describe what is in the image, describe things <a tooltip="For example: 'blue', 'person'">too generally</a>, or describe things that are <a tooltip="tagging an image of a surfer as 'water'">not the focus</a> of the image. For this task, <a tooltip="For example: 'love it', 'been there'">personal tags</a> are not helpful.</p>

		<p><strong>Time Estimate: {{time.estimate | secondsToDateTime | date:'mm:ss'}}</strong></p>
	</div>


	<!-- Consent Language Short -->
	<div class="col-sm-5 short-irb" ng-show="preview && tab==='instruct'">
		<p>You are invited to participate in this research study. Your decision to participate or decline participation in this study is completely voluntary and you have the right to terminate your participation at any time.</p>
		<p>Your participation is be confidential and data will be averaged and reported in aggregate. The data from this study may be used in academic venues. We will make no efforts to identify you.</p>
		<p>This study is conducted by <a tooltip="Phone:617-383-7674, Email:organis2@illinois.edu" href="mailto:organis2@illinois.edu" alt="email">Peter Organisciak</a> and advised by 
		<a tooltip="Phone:217-265-0510, Email:twidale@illinois.edu" href="mailto:twidale@illinois.edu" alt="email">Michael Twidale</a> from the 
		University of Illinois. Please contact us with any questions about this study. If you have any questions about your rights as a participant in 
		this study or any concerns or complaints, please contact the University of Illinois 
		<a tooltip="Phone:217-333-2670, Email:irb@illinois.edu" href="mailto:irb@illinois.edu">Institutional Review Board</a>.</p>
		<p>Details are available in the <a ng-click="tab='info'">Study Info</a> tab.
    </div>


    <!-- Consent Language - Long -->
	<div ng-show="tab==='info'" class="col-sm-12 irb">
	<p>You are invited to participate in this research study on understanding task design in paid crowd settings. You will be asked to complete tasks related to online images. Your decision to participate or decline participation in this study is completely voluntary and you have the right to terminate your participation at any time.</p>
	<p>This study will take approximately {{time.estimate | secondsToDateTime | date:'mm:ss'}} of your time, and you will be paid for performing the tasks as noted in the details above. Your participation in this research will be confidential and data will be averaged and reported in aggregate. The data from this study may be used in academic venues, such as published papers and a student thesis. We will make no efforts to identify you. There are no risks to individuals participating in this study beyond those that exist in daily life, and the judgments you provide will help requesters on paid crowd platforms design better tasks in the future.</p>
	<p>This study is conducted by <a tooltip="Phone:617-383-7674, Email:organis2@illinois.edu" href="mailto:organis2@illinois.edu" alt="email">Peter Organisciak</a> 
	and advised by <a tooltip="Phone:217-265-0510, Email:twidale@illinois.edu" href="mailto:twidale@illinois.edu" alt="email">Michael Twidale</a>. from the 
	University of Illinois. Please contact Mr. Organisciak or Dr. Twidale with any questions about this study. If you have any questions about your rights 
	as a participant in this study or any concerns or complaints, please contact the University of Illinois 
	<a tooltip="Phone:217-333-2670, Email:irb@illinois.edu" href="irb@illinois.edu">Institutional Review Board</a>.</p>
	<p>You may print a copy of this online consent form for your records, if you wish. By accepting and subsequently submitting any tasks, you indicate that you have read and understand the above consent information, certify that you are 18 years old or older, and indicate your willingness to voluntarily take part in the study.</p>

    </div>

    <!-- Tips -->
	<div ng-show="tab==='tips'" class="col-sm-12">
      <p><em>Want to save time?</em> Pressing TAB will jump to the next input box. (It may not always be in the expected order, but TAB will get through all the items eventually.)</p>
      <p><em>You have a lot to say?</em> It's alright to provide more than two tags: we'll appreciate it!</p>
      <p><em>Not enough to say?</em> If you can only think of one tag, add "<strong>TOO HARD</strong>" as the second.</p>
      <p>Hovering over an image will show some information that people wrote about the image. This may or may not be useful.</p>
    </div>

</div>
</section>
